:root {
    --default-padding: 5px 10px 5px 10px;
    --default-box-shadow: 3px 3px 3px rgb(207, 207, 207);
    --default-font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --light-grey: #6c7878;
    --dark-grey: #143D55;
}

body {
    margin: 6px;
    padding: 0px;
    font-family: var(--default-font-family);
    font-size: 12px;
    color: #000000;
    background-color: #fafafa;
}

p {
    color: #143D55;
    font-weight: inherit;
    white-space: pre-line;
}

p.noPre {
    white-space: inherit;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    box-shadow: var(--default-box-shadow);
    border-radius: 2px;
    padding: 5px;
}

h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    width: 80%;
    background: #3c8686;
}

h2 {
    background: #b65c9b;
    font-size: 14px;
    width: 99%;
}

h3 {
    background: #6c7878;
    font-size: 12px;
}

h4 {
    background: #89b194;
    font-size: 11px;
}

/*-------Nouveau Menu---------------*/

#menu {
    width: 100%;
    height: 59px;
    background: url('https://demeter.utc.fr/pls/portal30/docs/PAGE/PORTLETREPOSITORY/OTHER_PROVIDERS/PORTAIL_SIGAM/IMAGES/MENU_BG.JPG') repeat-x;
}

#menu ul {
    list-style: none;
    width: 1000px;
    margin-left: 10px;
    position: relative;
}

#menu li {
    list-style: none;
    display: block;
    float: left;
    height: 59px;
    line-height: 59px;
}

#menu li a {
    display: block;
    float: left;
    color: #a7a7a7;
    font-size: 11px;
    font-weight: bold;
    line-height: 59px;
    text-decoration: none;
    padding: 0 20px;
}

#menu li a:hover {
    color: #fff;
    background: url('https://demeter.utc.fr/pls/portal30/docs/PAGE/PORTLETREPOSITORY/OTHER_PROVIDERS/PORTAIL_SIGAM/IMAGES/MENU_H.JPG') no-repeat bottom;
}

#menu li a.current {
    display: block;
    float: left;
    background: url('https://demeter.utc.fr/pls/portal30/docs/PAGE/PORTLETREPOSITORY/OTHER_PROVIDERS/PORTAIL_SIGAM/IMAGES/MENU_H.JPG') no-repeat bottom;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    line-height: 59px;
    text-decoration: none;
    padding: 0 20px;
}

#menu li a:hover.current {
    color: #fff;
}

/*-----------------------Ancien Menu -------------------------*/

#container {
    position: relative;
    height: 40px;
    color: #E0E0E0;
    background: var(--dark-grey);
    width: 100%;
    margin: 0;
    padding: 0;
}

#nav {
    position: relative;
    height: 33px;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background: var(--light-grey);
    padding: 0 0 0 20px;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: auto;
    float: left;
}

#nav ul li {
    display: block;
    float: left;
    margin: 0 1px;
}

#nav ul li a {
    display: block;
    float: left;
    color: #EAF3F8;
    text-decoration: none;
    padding: 0 0 0 20px;
    height: 33px;
}

#nav ul li a span {
    padding: 12px 20px 0 0;
    height: 21px;
    float: left;
}

#nav ul li a:hover {
    color: #fff;
    background: var(--dark-grey);
}

#nav ul li a:hover span {
    display: block;
    width: auto;
    cursor: pointer;
}

#nav ul li a.current,
#nav ul li a.current:hover {
    color: #fff;
    background: #1D6893;
    line-height: 275%;
}

#nav ul li a.current span {
    display: block;
    padding: 0 20px 0 0;
    width: auto;
    background: #1D6893;
    height: 33px;
}

/*------------------------------------------------------------------------------------------*/

iframe {
    border: none;
}

table {
    empty-cells: show;
    border-collapse: separate;
    font-size: 12px;
    text-align: center;
}

input,
select,
textarea {
    font-family: var(--default-font-family);
}

/* Pour les controles en lecture seule utilises pour afficher des descriptions, infos, ... */

.lecture_seule {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 12px;
}

/* Aligne les chiffres a droite dans un input text */

.chiffre {
    text-align: right;
}

/* Affichage d'un message d'avertissement */

strong {
    color: red;
    display: block;
    font-size: 14px;
}

/* Affichage preformate */

pre {
    font-size: 12px;
}

/* Legende de tableau (optionnelle) */

caption {
    border: solid #3232CD 1px;
    margin-bottom: 6px;
    font-weight: bold;
}

/* Etiquette de champ de formulaire */

label {
    position: absolute;
    font-weight: bold;
    vertical-align: top;
    margin-left: 5px;
    font-size: 11px;
}

/* marges pour aligner les controles dans les formulaires */

.marge5 {
    margin-left: 5px;
}

.marge10 {
    margin-left: 10px;
}

.marge20 {
    margin-left: 20px;
}

.marge25 {
    margin-left: 25px;
}

.marge30 {
    margin-left: 30px;
}

.marge40 {
    margin-left: 40px;
}

.marge45 {
    margin-left: 45px;
}

.marge50 {
    margin-left: 50px;
}

.marge60 {
    margin-left: 60px;
}

.marge70 {
    margin-left: 70px;
}

.marge75 {
    margin-left: 75px;
}

.marge80 {
    margin-left: 80px;
}

.marge90 {
    margin-left: 90px;
}

.marge100 {
    margin-left: 100px;
}

.marge120 {
    margin-left: 120px;
}

.marge130 {
    margin-left: 130px;
}

.marge140 {
    margin-left: 140px;
}

.marge150 {
    margin-left: 150px;
}

.marge160 {
    margin-left: 160px;
}

.marge170 {
    margin-left: 170px;
}

.marge180 {
    margin-left: 180px;
}

.marge200 {
    margin-left: 200px;
}

.marge210 {
    margin-left: 210px;
}

.marge220 {
    margin-left: 220px;
}

.marge230 {
    margin-left: 230px;
}

.marge240 {
    margin-left: 240px;
}

.marge250 {
    margin-left: 250px;
}

.marge280 {
    margin-left: 280px;
}

.marge300 {
    margin-left: 300px;
}

.marge350 {
    margin-left: 350px;
}

.marge400 {
    margin-left: 400px;
}

.marge450 {
    margin-left: 450px;
}

.marge500 {
    margin-left: 500px;
}

/* Table destinee a contenir une liste d'elements avec en-tete et pied de page fixe */

table.liste {
    border-bottom: solid #5187b7 2px;
    margin: auto;
    width: auto;
}

table.liste th,
table.liste tfoot {
    background-color: #3D8CB8;
    color: #FFFFFF;
    font-size: 1.2em;
    padding: 0.1em 1ex;
    text-align: center;
    margin-top: 10px;
}

table.liste thead,
table.liste tfoot th {
}

th {
    padding: 5px;
}

td.center {
    text-align: center;
}

table.liste tbody {
    height: 95%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto
}

table.liste td {
    padding: 8px;
}

table.liste td.scroll {
    width: 12px;
    background-color: #FEFFEE;
}

/********************* table scroll pour IE *********************/

/*** Attention! ne fonctionne pas si le doctype n'a pas d'url ***/

.tableContainer {
    position: relative;
    /* to capture the absolutely positioned table header */
    padding-top: 20px;
    /* space for the column heads, must be surcharged if 2 rows in header */
    width: 100%;
    margin: 0 auto;
}

/* this enables the table to scroll without scrolling the page */

.innerframe {
    overflow: auto;
    width: auto;
    height: 500px;
}

.tableContainer table {
    height: 0px;
}

/* position the row of column heads above the table */

.tableContainer thead tr {
    position: absolute;
    /* throws the header out of the table */
    top: 0px;
    left: auto;
}

/* position the 2nd row of column heads above the table (if needed) */

.tableContainer thead tr.l2 {
    position: absolute;
    /* throws the header out of the table */
    top: 20px;
    left: auto;
}

.tableContainer tfoot tr {
    position: absolute;
    /* throws the footer out of the table */
    top: 520px;
    left: auto;
}

/* position the 2nd foot row under the table (if needed) */

.tableContainer tfoot tr.l2 {
    position: absolute;
    /* throws the footer out of the table */
    top: 540px;
    left: auto;
}

.tableContainer table td.scroll {
    display: none;
}

/* CSS pour annuler le scroll fixe sur table.liste */

table.no_scroll {
    height: auto;
}

table.no_scroll tbody {
    height: auto;
}

/* Marquage pair et impair, survol */

.pair {
    background-color: #FFFFFF;
}

.impair {
    background-color: #DDDDDD;
}

.survol {
    font-weight: bold;
    background: #f6ddda;
    cursor: pointer;
}

/* Codes couleur communs */

/* categories */

.cat1 {
    background-color: #DDDDDD;
}

.cat2 {
    background-color: #ADD8E6;
}

.cat3 {
    background-color: #D0FFD0;
}

.cat4 {
    background-color: #FFDD80;
}

.cat5 {
    background-color: #FFFF88;
}

.cat6 {
    background-color: #FFAAAA;
}

.cat7 {
    background-color: #FFAAFF;
}

.cat8 {
    background-color: #AAFFFF;
}

.cat9 {
    background-color: #88FF88;
}

.cat10 {
    background-color: #D88BB2;
}

.cat11 {
    background-color: #CAB8C1;
}

.cat12 {
    background-color: #F8439D;
}

/* notes de 1 a 4 */

.note1 {
    background-color: #FF3030;
}

.note1_txt {
    color: #FF3030;
}

.note2 {
    background-color: #FFA500;
}

.note2_txt {
    color: #FFA500;
}

.note3 {
    background-color: #90EE90;
}

.note3_txt {
    color: #00CC00;
}

.note4 {
    background-color: #30DD30;
}

.note4_txt {
    color: #008800;
}

/* element valide/invalide */

.valide {
    background-color: #9ACD32;
}

.txt_valide {
    color: #30AA30;
}

.invalide {
    color: #FFFFFF;
    background-color: #FF3300;
}

.txt_invalide {
    color: #FF3300;
}

/* element actif/inactif */

.actif {
    background-color: #93DB70;
}

.txt_actif {
}

.inactif {
    background-color: #D8D8D8;
}

.txt_inactif {
    color: #888888;
}

/* curseur d'aide au survol d'un element */

.aide {
    cursor: help;
}

img {
    vertical-align: middle;
    border: none;
    margin: 2px
}

/* Images utilisees comme liens */

a.image {
    text-decoration: none;
}

a:hover {
    display: inline
}

a:visited img {
    vertical-align: middle;
    border: none;
    margin: 2px;
}

a:active img {
    vertical-align: middle;
    border: none;
    margin: 2px;
}

a:hover img {
    vertical-align: middle;
    border: solid;
    border-color: #0000FF;
    border-width: 2px;
    margin: 0px;
}

/* Boutons Retour, Valider/Enregistrer, bouton inactif */

input.btn_annuler,
.btn_valider,
.btn_inactif,
.btn_rouge {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border: 1px solid #666;
    cursor: pointer;
    padding: var(--default-padding);
    margin: 5px;
}

input.btn_annuler_big,
.btn_valider_big,
.btn_inactif_big,
.btn_rouge_big {
    font-size: 32px;
    color: #330033;
    font-weight: bold;
}

input.btn_annuler {
    background: #e9a2a2;
}

input.btn_valider {
    background: #4ba355;
}

input.btn_inactif {
    color: #606060;
    background-color: #D8D8D8;
    cursor: auto;
}

input.btn_rouge {
    background: #FF0000;
}

/*---------couleur bouton ---------------*/

input.rose {
    background: #e6bee6;
}

input.violet {
    background: #a34b83;
}

input.orange {
    background: #e2770c;
}

input.bleu {
    background: #4ba3a3;
}

input.jaune {
    color: #000;
    background: #f8f49c;
}

.link_valider {
    background: #4ba355;
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    border: 1px solid #666;
    border-radius: 2px;
    cursor: pointer;
    padding: 1px 7px 1px 7px;
    text-decoration: none;
}

div.groupe {
    padding: 15px 5px 5px 5px;
    margin: 0px 6px 12px 12px;
    box-shadow: var(--default-box-shadow);
    background: #f5f9fd;
    text-align: center;
    border-top: 5px solid #4d7080;
    overflow: hidden;
}

div.center {
    text-align: center;
}

div.groupe p {
    text-align: left;
}

div.groupe span.legende {
    background: var(--light-grey);
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    padding: var(--default-padding);
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

div.ligne2 {
    padding-top: 27px;
}

div.ligne2 span.legende {
    margin-top: -36px;
}

/* Message d'attente */

div.wait {
    margin: auto;
    margin-top: 150px;
    padding-bottom: 40px;
    width: 400px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: blue;
    display: none;
    background-image: url("https://demeter.utc.fr/pls/portal30/docs/PAGE/PORTLETREPOSITORY/OTHER_PROVIDERS/PORTAIL_SIGAM/IMAGES/LOADING.GIF");
    background-repeat: no-repeat;
    background-position: center bottom;
}

/* Positionnement des blocs a gauche, a droite, en pleine page */

.left {
    float: left;
}

.right {
    float: right;
}

.under {
    clear: both;
}

.full {
    clear: both;
    width: 100%;
}

/* CSS pour les popup sans nouvelle fenetre */

.pop_hidden {
    position: absolute;
    display: none;
    z-index: 10;
}

.pop_visible {
    position: absolute;
    display: inline;
    z-index: 10;
    width: 200px;
    border: 3px outset #CCCCCC;
    background-color: #fff;
    padding: 0px 0px 12px 12px;
}

.menu_niv1 {
    background-image: url('https://demeter.utc.fr/pls/portal30/docs/PAGE/PORTLETREPOSITORY/OTHER_PROVIDERS/PORTAIL_SIGAM/IMAGES/BARRE.PNG');
    background-repeat: repeat-x;
    background-color: #3786B3;
    border-radius: 2em 0.5em 2em 0.5em;
    box-shadow: 2px 3px 4px #333;
    color: #fff;
    width: 800px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.menu_niv2 {
    background-image: url('https://demeter.utc.fr/pls/portal30/docs/PAGE/PORTLETREPOSITORY/OTHER_PROVIDERS/PORTAIL_SIGAM/IMAGES/BARRE.PNG');
    background-repeat: repeat-x;
    background-color: #666;
    border-radius: 2em 0.5em 2em 0.5em;
    box-shadow: 2px 3px 4px #333;
    color: #fff;
    width: 750px;
    font-size: 11px;
    font-weight: bold;
    padding: 2px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

/* Onglets */

.onglets {
    margin-right: 10px;
    margin-bottom: 5px;
}

.onglets ul {
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}

.onglets li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.onglets li a:hover {
    color: #fff;
}

.onglets li {
    border: 1px solid #4D7080;
    border-radius: 0.8em 0.8em 0 0;
    padding: 5px;
    padding-left: 6px;
    padding-right: 6px;
    display: inline;
    background-image: url("https://demeter.utc.fr/pls/portal30/docs/PAGE/PORTLETREPOSITORY/OTHER_PROVIDERS/PORTAIL_SIGAM/IMAGES/BTN.PNG");
    background-repeat: repeat-x;
    background-color: #4D7080;
    cursor: pointer;
    margin-right: 2px;
}

.onglets li:hover {
    background-color: #A494E1;
    color: #fff;
}

.onglets li.current {
    border-bottom: 1px solid #7DA0B0;
    background-color: #3991F4;
}

/*-----------------------*/
